/*[[[ SHOP PAGE MENU ]]]*/
.dvMenu {
  background-color: var(--bg-section);
}
.dvMenu .navbar-light .navbar-nav .nav-link {
  color: var(--secondary-colour);
}
.dvMenu .dropdown-item:focus,
.dvMenu .dropdown-item:hover {
  background-color: var(--primary-colour) !important;
  color: #fff;
}
.dvMenu .dropdown-item.active,
.dvMenu .dropdown-item:active {
  background-color: var(--primary-colour) !important;
  color: #fff;
}
/*[[[ SHOP PAGE MENU ]]]*/

header {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


button {
  background: transparent;
  color: #000;
  padding: 12px 25px;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: unset;
  margin: unset;
}

li {
  padding: 14px;
  transition: all linear 0.3s;
}

li:hover {
  background: gray;
  cursor: pointer;
  color: #fff;
}

.dropdown-menu {
  display: block;
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
  transition: all linear 0.3s;
}
.bg-nav{
  background-color: #E6E6E6;
}
