/*[[[ EARN SECTION ON HOMEPAGE ]]]*/
.dvEarn .bg {
  background: url("public/assets/images/homepage/earn/bg-image.svg") no-repeat top center;
  background-size: cover;
  padding: 3rem 1rem;
}
.dvEarn .bg p {
  color: var(--secondary-colour);
}
.dvEarn .bg-icon {
  background-color: var(--bg-section);
}
.dvEarn .bg-icon img {
  max-width: 100%;
  height: 70px;
}
.dvEarn .heading-md-bold {
  color: var(--primary-colour);
}
/*[[[ EARN SECTION ON HOMEPAGE ]]]*/

/*[[[ MEDIA QUERIES ]]]*/
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .dvEarn .bg {
    min-height: 400px;
  }
  .dvEarn .mn-top {
    margin-top: -13rem;
  }
}

@media (min-width: 992px) {
  .dvEarn .mn-top {
    margin-top: -9rem;
  }
}

@media (min-width: 1200px) {
  .dvEarn .mn-top {
    margin-top: -12rem;
  }
}

@media (min-width: 1400px) {
  .dvEarn .mn-top {
    margin-top: -12rem;
  }
}

/*[[[ MEDIA QUERIES ]]]*/
