/*=========[ FLIGHTLIST PAGE ]=========*/
.dvFlightList .dvFlightInfo .heading-md-medium {
  color: var(--primary-colour);
}
.dvFlightList .dvFlightInfo .dvInfo .abbreviation {
  font-size: 1rem;
}
.dvFlightList .dvFlightInfo .dvInfo span {
  font-size: 0.875rem;
}
.dvFlightList .dvFlightInfo .bg-light {
  background-color: var(--bg-section);
}
.dvFlightList .dvSeeDetails .arrowBtn {
  background-color: transparent;
  border: none;
  padding: 0;
}
/* .dvFlightList .dvSeeDetails .dvDeparture .bg-light {
    background-color: var(--bg-section);
  } */
/*=========[ FLIGHTLIST PAGE ]=========*/

/*=========[ FLIGHTPASSENGER PAGE ]=========*/
.dvFlightPassenger .bg {
  background-color: var(--primary-colour);
}
.dvFlightPassenger .bg-lightgray {
  background-color: var(--bg-section);
}
.dvFlightPassenger .rounded {
  border-radius: 5px 5px 0 0 !important;
}
/*=========[ FLIGHTPASSENGER PAGE ]=========*/

/*=========[ FLIGHTSEARCH PAGE ]=========*/

.dvFlightSearch .bg-lightgray {
  background-color: var(--bg-section);
}

.dvFlightSearch input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 3px;
  background-clip: content-box;
  border: 1px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
  outline: none;
}

.dvFlightSearch input[type="radio"]:checked {
  background-color: #213c69;
  border: 1px solid #000;
  outline: none;
}

.dvProductList .product-text {
  min-height: 70px;
}

/*=========[ FLIGHTSEARCH PAGE ]=========*/

/*=========[ MEDIA QUERIES ]=========*/
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .dvFlightList .dvFlightInfo .dvInfo .border-top-bottom-lg-0 {
    border-top: 0 !important;
    border-bottom: 0 !important;
  }
  .dvFlightList .dvFlightInfo .dvInfo .border-right-lg {
    border-right: 1px solid #dee2e6 !important;
  }
  .dvFlightList .dvFlightInfo .dvInfo .border-bottom-lg {
    border-bottom: 1px solid #dee2e6 !important;
  }
}

@media (min-width: 1200px) {
}
/*=========[ MEDIA QUERIES ]=========*/
